body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f6f7;
}

.name{
    font-weight: bolder;
    font-size: 8rem;
    text-align: center;
    color: #f64b3c;
}
.name:hover{
    color: #222831;
}

i{
    font-family: 'Montserrat', sans-serif;
}

.about{
    text-align: justify;
}

h1,h2{
    font-weight: bold;
    display: block;
    color: #222831;
}

h1:hover{
    color: #f64b3c;
}

h2:hover{
    color: #f64b3c;
}

i:hover{
    color:#f64b3c ;
}

hr{
    border: 0.3rem #f64b3c solid;
    margin-right: 92% ;
}

p{
    font-weight: 400;
}

.progress-bar{
    background-color:#222831 ;
}
